/** デザイン用CSS 編集はこのファイルでお願いします **/
/** uikitリセット **/
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;}

/** グローバル **/
.conteiner,
.header,
.footer {
    width: 100%;
    margin: 0 auto;
}

.inner {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
/** ファイル別 **/
/* home */

/** レスポンシブ **/
